{% extends "SPMemberBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter un produit</h2>

  {{ include("SPMemberBundle:Product:form.html.twig") }}

  <p>

    Attention : cette fiche sera ajoutée directement
    sur la page d'accueil après validation du formulaire.

  </p>


{% endblock %}
