<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}SP Membres{% endblock %}</title>
  </head>

    <div id="menu">
      {{ render(controller("SPMemberBundle:Member:menu")) }}
    </div>

  <body>
    {% block body %}

    {% endblock %}
  </body>
</html>
