{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spcompany_body %}
    <h1>Fiche adherent</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

      {{ include("SPMemberBundle:Company:form.html.twig") }}
    <br>


    {% endblock %}
