{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spcompany_body %}
    <h1>Fiche adherent</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <table >
    <tr>
        <td>Entite Numero:</td>
        <td>{{ company.id }}</td>
    </tr>

    <tr>
       <td>Nom complet:</td>
       <td> {{company.cpyname }}</td>
    </tr>



    </table><br>

    <a href="{{ path('sp_company_edit', {'id': company.id}) }}">Mettre à jour </a>

    {% endblock %}



