{% extends "SPMemberBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}

{% endblock %}

{% block spmember_body %}


  <h2>Liste des membres</h2>

  <ul>
    {% for member in listmembers %}
      <li>
        <a href="{{ path('sp_member_view', {'id': member.id}) }}">
          {{ member.usrFirstname}} {{member.usrlastname}}
        </a>
      </li>

    {% else %}

      <li>Pas (encore !!!) de membres</li>

    {% endfor %}

  </ul>


{% endblock %}
