
{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for member in listMembers %}
    <li>
      <a href="{{ path('sp_member_view', {'id': member.id}) }}">
        {{ member.usr_firstname}}
      </a>
    </li>
  {% endfor %}
</ul>
